name: Build
permissions:
  contents: read

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Clone Repository
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Install Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Build
      run: gradle printVersion build

    - name: Test
      run: gradle printVersion test

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: contains(github.ref, 'refs/tags/v')
    steps:
    - name: Create a release
      uses: ncipollo/release-action@v1.20.0
      with:
        allowUpdates: true

  publish:
    needs: release
    runs-on: ubuntu-latest
    if: contains(github.ref, 'refs/tags/v')
    steps:
    - name: Clone Repository
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Install Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Publish
      env:
        ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
        ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_TOKEN }}
        ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.OSSRH_GPG_SECRET_KEY }}
        ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}
      run: gradle printVersion publish
